<a href="https://colab.research.google.com/github/InowaR/colab/blob/main/join.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import time

def time_of_function(function):
    def wrapped(*args):
        start_time = time.perf_counter_ns()
        res = function(*args)
        print(time.perf_counter_ns() - start_time)
        return res
    return wrapped

In [3]:
import sqlite3
from tabulate import tabulate
import datetime

db = 'chat2.db'

def show_tables():
  tables = ['users', 'chats', 'chat_users']
  def show(tablename):
    try:
      with sqlite3.connect(db) as connection:
        cursor = connection.cursor()
        cursor.execute(f'SELECT * FROM {tablename}')
        results = cursor.fetchall()
        headers = []
        for i in range(len(cursor.description)):
          headers.append(cursor.description[i][0])
        print(tablename)
        print(tabulate(results, headers=headers, tablefmt='grid', stralign='center'))
        print("\n")
    except:
      print("Empty")

  for table in tables:
    show(table)

show_tables()

Empty
Empty
Empty

In [4]:
def create_db1():
    with sqlite3.connect('chat1.db') as connection:
        cursor = connection.cursor()
        cursor.execute(
            """
                CREATE TABLE users (
                    login TEXT,
                    password TEXT,
                    username TEXT,
                    age INTEGER,
                    city TEXT
                );
            """
        )
        cursor.execute(
            """
                CREATE TABLE chats (
                    chatname TEXT,
                    description TEXT,
                    created_at DATETIME
                );
            """
        )
        cursor.execute(
            """
                CREATE TABLE chat_users (
                    login TEXT,
                    chatname TEXT
                );
            """
        )
        connection.commit()

create_db1()

In [5]:
def create_db2():
    with sqlite3.connect('chat2.db') as connection:
        cursor = connection.cursor()
        cursor.execute(
            """
                CREATE TABLE users (
                    id INTEGER PRIMARY KEY AUTOINCREMENT,
                    login TEXT,
                    password TEXT,
                    username TEXT,
                    age INTEGER,
                    city TEXT
                );
            """
        )
        cursor.execute(
            """
                CREATE TABLE chats (
                    id INTEGER PRIMARY KEY AUTOINCREMENT,
                    chatname TEXT,
                    description TEXT,
                    created_at DATETIME
                );
            """
        )
        cursor.execute(
            """
                CREATE TABLE chat_users (
                    user_id INTEGER NOT NULL,
                    chat_id INTEGER NOT NULL,
                    FOREIGN KEY (user_id) REFERENCES users(id),
                    FOREIGN KEY (chat_id) REFERENCES chats(id)
                );
            """
        )
        connection.commit()

create_db2()

In [13]:
def insert_user1(login: str, password: str, username: str, age: int, city: str):
    with sqlite3.connect('chat1.db') as connection:
        cursor = connection.cursor()
        query = """
                    INSERT INTO users (login, password, username, age, city)
                    VALUES (?, ?, ?, ?, ?)
                """
        cursor.execute(query, (login, password, username, age, city))
        connection.commit()


def insert_chat1(chatname: str, description: str):
    with sqlite3.connect('chat1.db') as connection:
        cursor = connection.cursor()
        query = """
                    INSERT INTO chats (chatname, description, created_at)
                    VALUES (?, ?, CURRENT_TIMESTAMP)
                """
        cursor.execute(query, (chatname, description))
        connection.commit()


def insert_chat_user1(login: str, chatname: str):
    with sqlite3.connect('chat1.db') as connection:
        cursor = connection.cursor()
        query = """
                    INSERT INTO chat_users (login, chatname)
                    VALUES (?, ?)
                """
        cursor.execute(query, (login, chatname))
        connection.commit()


def insert_user2(login: str, password: str, username: str, age: int, city: str):
    with sqlite3.connect('chat2.db') as connection:
        cursor = connection.cursor()
        query = """
                    INSERT INTO users (login, password, username, age, city)
                    VALUES (?, ?, ?, ?, ?)
                """
        cursor.execute(query, (login, password, username, age, city))
        connection.commit()


def insert_chat2(chatname: str, description: str):
    with sqlite3.connect('chat2.db') as connection:
        cursor = connection.cursor()
        query = """
                    INSERT INTO chats (chatname, description, created_at)
                    VALUES (?, ?, CURRENT_TIMESTAMP)
                """
        cursor.execute(query, (chatname, description))
        connection.commit()


def insert_chat_user2(login: str, chatname: str):
    with sqlite3.connect('chat2.db') as connection:
        cursor = connection.cursor()
        query = """
            INSERT INTO chat_users (user_id, chat_id)
            SELECT u.id, c.id
            FROM users u
            JOIN chats c ON u.login = ? AND c.chatname = ?;
        """
        cursor.execute(query, (login, chatname))
        connection.commit()

@time_of_function
def f1():
  for i in range(20):
    insert_user1("shsfeawd", "123123", "Alex", 23, "New York")
    insert_user1("awawddwq", "231231", "Ann", 22, "Paris")
    insert_chat1("new_chat", "study_chat")
    insert_chat1("another_chat", "hobby chat")
    insert_chat_user1("shsfeawd", "new_chat")
    insert_chat_user1("shsfeawd", "another_chat")
    insert_chat_user1("awawddwq", "new_chat")
    insert_chat_user1("awawddwq", "another_chat")

@time_of_function
def f2():
  for i in range(20):
    insert_user2("shsfeawd", "123123", "Alex", 23, "New York")
    insert_user2("awawddwq", "231231", "Ann", 22, "Paris")
    insert_chat2("new_chat", "study_chat")
    insert_chat2("another_chat", "hobby chat")
    insert_chat_user2("shsfeawd", "new_chat")
    insert_chat_user2("shsfeawd", "another_chat")
    insert_chat_user2("awawddwq", "new_chat")
    insert_chat_user2("awawddwq", "another_chat")

f1()
f2()

1226040911
1643422347