<a href="https://colab.research.google.com/github/InowaR/colab/blob/main/notebooks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [151]:
from tabulate import tabulate
import sqlite3

class Notebook:

  def __init__(self, name: str, price: int, screen_diagonale: int, ram: int, disk: int, cpu: str):
    self.name = name
    self.price = price
    self.screen_diagonale = screen_diagonale
    self.ram = ram
    self.disk = disk
    self.cpu = cpu

  def info(self):
    return {'name' : self.name,
            'price' : self.price,
            'screen_diagonale' : self.screen_diagonale,
            'ram' : self.ram,
            'disk' : self.disk,
            'cpu' : self.cpu}

class Menu:

  def __init__(self, Notebooks):
    self.Notebooks = Notebooks

  def show_notebooks(self, Notebooks):
    list_notebooks = []
    for notebook in Notebooks:
      list_notebooks.append(notebook.info())
    print(tabulate(list_notebooks, headers='keys', tablefmt='grid', stralign='center'))

  def create_db(self):
    with sqlite3.connect('notebooks.db') as conn:
        cursor = conn.cursor()
        cursor.execute('''CREATE TABLE IF NOT EXISTS notebooks
                        (id INTEGER PRIMARY KEY AUTOINCREMENT,
                        name TEXT,
                        price INTEGER,
                        screen_diagonale INTEGER,
                        ram INTEGER,
                        disk INTEGER,
                        cpu TEXT)''')

  def save_notebooks(self, Notebooks):
    with sqlite3.connect('notebooks.db') as conn:
      cursor = conn.cursor()
      for notebook in Notebooks:
          cursor.execute("INSERT INTO notebooks (name, price, screen_diagonale, ram, disk, cpu) VALUES (?, ?, ?, ?, ?, ?)",
                          (notebook.name, notebook.price, notebook.screen_diagonale, notebook.ram, notebook.disk, notebook.cpu))
          conn.commit()


def sql_execute(string):
  with sqlite3.connect('notebooks.db') as conn:
      cursor = conn.cursor()
      cursor.execute(string)
      results = cursor.fetchall()
      for row in results:
          print(row)

def list_of_notebooks():
  MSI_modern_15 = Notebook('MSI_modern_15', 46000, 15, 16, 512, 'Intel Core i5')
  MSI_modern_16 = Notebook('MSI_modern_16', 50000, 16, 16, 512, 'Intel Core i5')
  MSI_modern_17 = Notebook('MSI_modern_17', 55000, 17, 16, 512, 'Intel Core i5')
  return [MSI_modern_15, MSI_modern_16, MSI_modern_17]

def main():
  Notebooks = list_of_notebooks()
  new_menu = Menu(Notebooks)
  new_menu.show_notebooks(Notebooks)
  new_menu.create_db()
  new_menu.save_notebooks(Notebooks)
  sql_execute("SELECT * FROM notebooks ORDER BY price DESC;")
  sql_execute("SELECT * FROM notebooks ORDER BY price ASC;")

main()

+---------------+---------+--------------------+-------+--------+---------------+
|     name      |   price |   screen_diagonale |   ram |   disk |      cpu      |
+===============+=========+====================+=======+========+===============+
| MSI_modern_15 |   46000 |                 15 |    16 |    512 | Intel Core i5 |
+---------------+---------+--------------------+-------+--------+---------------+
| MSI_modern_16 |   50000 |                 16 |    16 |    512 | Intel Core i5 |
+---------------+---------+--------------------+-------+--------+---------------+
| MSI_modern_17 |   55000 |                 17 |    16 |    512 | Intel Core i5 |
+---------------+---------+--------------------+-------+--------+---------------+
(3, 'MSI_modern_17', 55000, 17, 16, 512, 'Intel Core i5')
(2, 'MSI_modern_16', 50000, 16, 16, 512, 'Intel Core i5')
(1, 'MSI_modern_15', 46000, 15, 16, 512, 'Intel Core i5')
(1, 'MSI_modern_15', 46000, 15, 16, 512, 'Intel Core i5')
(2, 'MSI_modern_16', 50000, 16, 16, 512, 'Intel Core i5')
(3, 'MSI_modern_17', 55000, 17, 16, 512, 'Intel Core i5')