<a href="https://colab.research.google.com/github/InowaR/colab/blob/main/sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [51]:
import sqlite3
from tabulate import tabulate
import datetime

db = 'users.db'

def show_tables():
  tables = ['users_old', 'users']
  def show(tablename):
    try:
      with sqlite3.connect(db) as connection:
        cursor = connection.cursor()
        cursor.execute(f'SELECT * FROM {tablename}')
        results = cursor.fetchall()
        headers = []
        for i in range(len(cursor.description)):
          headers.append(cursor.description[i][0])
        print(tablename)
        print(tabulate(results, headers=headers, tablefmt='grid', stralign='center'))
        print("\n")
    except:
      print("Empty")

  for table in tables:
    show(table)

show_tables()

users_old
+------+-------------+------------+---------------------------------+
|   id |  firstname  |  lastname  |              email              |
+======+=============+============+=================================+
|    2 |  Frederik   |   Upton    | terrence.cartwright@example.org |
+------+-------------+------------+---------------------------------+
|    3 |   Unique    |  Windler   |      rupert55@example.org       |
+------+-------------+------------+---------------------------------+
|    4 |   Norene    |    West    |      rebekah29@example.net      |
+------+-------------+------------+---------------------------------+
|    5 |  Frederick  |  Effertz   |     von.bridget@example.net     |
+------+-------------+------------+---------------------------------+
|    6 |  Victoria   |  Medhurst  |       sstehr@example.net        |
+------+-------------+------------+---------------------------------+
|    7 |   Austyn    |   Braun    |    itzel.beahan@example.com     |
+------+-------------+------------+---------------------------------+
|    8 |    Jaida    |  Kilback   |  johnathan.wisozk@example.com   |
+------+-------------+------------+---------------------------------+
|    9 |   Mireya    |    Orn     |     missouri87@example.org      |
+------+-------------+------------+---------------------------------+
|   10 |   Jordyn    |   Jerde    |        edach@example.com        |
+------+-------------+------------+---------------------------------+


users
+------+-------------+------------+--------------------+
|   id |  firstname  |  lastname  |       email        |
+======+=============+============+====================+
|    1 |   Reuben    |   Nienow   | arlo50@example.org |
+------+-------------+------------+--------------------+

In [44]:
def create_db1():
    with sqlite3.connect('users.db') as connection:
        cursor = connection.cursor()
        cursor.execute(
            """
                CREATE TABLE IF NOT EXISTS users_old (
                    id INT,
                    firstname TEXT,
                    lastname TEXT,
                    email TEXT
                );
            """
        )
        connection.commit()

create_db1()

In [45]:
def insert_data():
    with sqlite3.connect('users.db') as connection:
        cursor = connection.cursor()
        query = """
                    INSERT INTO users_old (id, firstname, lastname, email) VALUES
                    (1, 'Reuben', 'Nienow', 'arlo50@example.org'),
                    (2, 'Frederik', 'Upton', 'terrence.cartwright@example.org'),
                    (3, 'Unique', 'Windler', 'rupert55@example.org'),
                    (4, 'Norene', 'West', 'rebekah29@example.net'),
                    (5, 'Frederick', 'Effertz', 'von.bridget@example.net'),
                    (6, 'Victoria', 'Medhurst', 'sstehr@example.net'),
                    (7, 'Austyn', 'Braun', 'itzel.beahan@example.com'),
                    (8, 'Jaida', 'Kilback', 'johnathan.wisozk@example.com'),
                    (9, 'Mireya', 'Orn', 'missouri87@example.org'),
                    (10, 'Jordyn', 'Jerde', 'edach@example.com');
                """
        cursor.execute(query)
        connection.commit()

insert_data()

In [46]:
def create_db2():
    with sqlite3.connect('users.db') as connection:
        cursor = connection.cursor()
        cursor.execute(
            """
                CREATE TABLE IF NOT EXISTS users (
                    id INT,
                    firstname TEXT,
                    lastname TEXT,
                    email TEXT
                );
            """
        )
        connection.commit()

create_db2()

In [48]:
def move_user():
    with sqlite3.connect('users.db') as connection:
        cursor = connection.cursor()
        query = """
                    INSERT INTO users(id, firstname, lastname, email)
                    SELECT id, firstname, lastname, email
                    FROM users_old
                    WHERE id = 1;
                """
        cursor.execute(query)
        query = """
                    DELETE FROM users_old
                    WHERE id = 1;
                """
        cursor.execute(query)
        connection.commit()

move_user()